.list {
  list-style: none;
  margin: 0;
  padding: 0 50px 50px 50px;
}

.item {
  font-size: 30px;
  margin-bottom: 10px;
}

.item:last-child {
  margin-bottom: 0;
}

.itemsFilm:hover {
  display: block;
  color: red;
  transform: scaleY(1.5);
}

.itemsFilm {
  text-decoration: none;
  color: black;
}

.span {
  color: #f79992;
}
